
        #navbar{
            display: flex;
            justify-content: space-between;
           
            /* background-color:#cdcdcd; */
             font-family: I'Segoe UI', Roboto, -apple-system, BlinkMacSystemFont, sans-serif;
        }
        .nav-icon{
            display: flex;
        }
        #nav-child{
            padding: 10px;
        }
        #nav-child-centre a{
            text-decoration: none;
            list-style: none;
            padding: 10px;
            color: black;
            
        }
        #nav-child-centre{
            padding-top: 15px;
        }
        #nav-child-right button{
            border-radius: 8px;
            padding: 5px 15px;
            border: none;
            
        }
        .main{background-color:white;}
        .download-button button{
            padding: 15px 25px;
            background-color: black;
            color: white;
             border-radius: 15px;
             border: none;
             font-size: 20px;
        }
        .image{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 50px;
            
        }
        .text-top{
            padding: 20px;
        }
        .middle-text{
            display: flex;
            justify-content: center;
        }
        .logo{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 200px;
            margin-top: 10px;
        }
        .logo-card{
            background-color: #cdcdcd;
            border-radius: 5px;
            padding: 5px;
        }
        .card{
            display: flex;
            justify-content: center;
            align-items: center;
            background:#cdcdcd;
            padding: 50px;
            margin: 20px;
            border-radius: 5px;
            gap: 15px;
        }
        .testimonial-card{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            
        }
        .user{
            display: flex;
            gap: 10px;
        }
        
        .card-2{
            background-color: #cdcdcd;
            margin:10px;
            padding: 20px;
            width: 400px;
            height: 200px;
            

            
        }
        
        .content-text{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px;
        }
        .middle-card{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .card-3{
            background-color:#cdcdcd;
            border-radius: 5px;
            margin: 20px;
            padding: 30px;
            width: 600px;
            height: 400px;
        }
        .changelog-card{
            display: flex;
            justify-content: space-evenly;
            align-items: center;

        }
        .card-4{
            background-color: #cdcdcd;
            margin:20px ;
            padding: 20px;
            border-radius: 5px;
            width: 300px;
            height: 200px;
        }
        .joinus{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .joinus-content{
            margin: 20px;
        }
        .joinus-btn{
            
            padding: 5px 15px;
            background-color: black;
            color: white;
            border-radius: 8px;
            
        }
        .joinus-img{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 25px;
        }
        .blogs-content{
            display: flex;
            
            justify-content: space-evenly;
            align-items: center;
            margin: 50px;
        }
       
        .card-5{
            background-color: #cdcdcd;
            border-radius: 5px;
            margin: 10px;
            padding: 10px;
        }
        .end-content{
            display: flex;
            flex-direction: column;
            
            align-items: center;
            
            /* margin: 30px;
            padding: 30px 10px; */
        }
        .footer-content{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            background-color: #cdcdcd;
            margin-top: 50px;
        }
        .footer-text ul{
            list-style: none;
            text-decoration: none;
            padding: 10px;
        }
        .footer-text ul a{
            text-decoration: none;
            color: #111;
            

        }
        .footer-bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .footer-options label {
            
            padding: 5px 14px;
            border-radius: 20px;
            margin: 5px;
        }
        .footer-options label span {
            margin: 5px;
        }
        
    